<footer>
    <div class="container">
        <div class="footer-grid">
            <div class="footer-col">
                <h3>About IEEE</h3>
                <ul>
                    <li><a href="#">Our Mission</a></li>
                    <li><a href="#">History</a></li>
                    <li><a href="#">Leadership</a></li>
                    <li><a href="#">Governance</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h3>Resources</h3>
                <ul>
                    <li><a href="#">Publications</a></li>
                    <li><a href="#">Standards</a></li>
                    <li><a href="#">Education</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h3>Connect With Us</h3>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
                <div class="newsletter">
                    <h4>Subscribe to our Newsletter</h4>
                    <form>
                        <input type="email" placeholder="Your Email">
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 IEEE - All rights reserved.</p>
            <div class="footer-links">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Use</a>
                <a href="#">Accessibility</a>
                <a href="#">Contact</a>
            </div>
        </div>
    </div>
</footer>